@charset "UTF-8";
/*------------------------- R E S E T -------------------------*/
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

ul,
ol {
  list-style: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none; }

blockquote,
q {
  quotes: none; }
  blockquote:before, blockquote:after,
  q:before,
  q:after {
    content: '';
    content: none; }

ins {
  text-decoration: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input,
select {
  vertical-align: middle; }

* {
  outline: none; }

/*------------------------- var -------------------------*/
html, body {
  font-family: "微軟正黑體", "Microsoft JhengHei", Arial;
  font-size: 100%;
  line-height: 1.5;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

img {
  max-width: 100%;
  max-height: 100%;
  height: auto; }

.text-hide {
  text-indent: -9999px; }

.infinite {
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite; }

.mobile {
  display: none; }

.desk {
  display: block; }

.wrap {
  width: 1100px;
  margin: 0 auto;
  position: relative; }

header {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 22px 25px 9px;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5); }
  header:after {
    content: "";
    display: table;
    clear: both; }
  header .logo {
    width: 195px;
    float: left;
    display: block; }
  header .sub {
    width: 125px;
    float: right; }
  header nav {
    float: right; }
    header nav ul {
      -webkit-transition: all 0.5s;
      -o-transition: all 0.5s;
      transition: all 0.5s; }
      header nav ul li {
        display: inline-block;
        vertical-align: middle;
        margin: 0 3px; }
        header nav ul li a {
          width: 152px;
          height: 57px;
          line-height: 58px;
          display: block;
          background-image: url("../images/nav.png");
          background-size: 470px 120px; }
        header nav ul li.btn_1 a {
          background-position: 0px 0px; }
        header nav ul li.btn_1:hover a {
          background-position: 0px 183px; }
        header nav ul li.btn_2 a {
          background-position: 310px 0px; }
        header nav ul li.btn_2:hover a {
          background-position: 310px 183px; }
        header nav ul li.btn_3 a {
          background-position: 151px 0px; }
        header nav ul li.btn_3:hover a {
          background-position: 151px 183px; }
    header nav .menu {
      position: absolute;
      top: 35%;
      right: 5%;
      width: 32px;
      height: 32px;
      margin: auto;
      cursor: pointer;
      padding-left: 0;
      -webkit-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s; }
      header nav .menu .menu-global {
        -webkit-backface-visibility: hidden;
                backface-visibility: hidden;
        position: absolute;
        left: 0;
        border-top: 4px solid #ff9891;
        width: 100%;
        -webkit-transition: 0.4s;
        -o-transition: 0.4s;
        transition: 0.4s; }
      header nav .menu .menu-top {
        top: 0; }
      header nav .menu .menu-middle {
        top: 10px; }
      header nav .menu .menu-bottom {
        top: 20px; }
      header nav .menu .menu-top-click {
        -webkit-backface-visibility: hidden;
                backface-visibility: hidden;
        top: 15px;
        -webkit-transform: rotate(50deg);
            -ms-transform: rotate(50deg);
                transform: rotate(50deg);
        -webkit-transition: 0.45s 0.4s;
        -o-transition: 0.45s 0.4s;
        transition: 0.45s 0.4s; }
      header nav .menu .menu-middle-click {
        opacity: 0; }
      header nav .menu .menu-bottom-click {
        -webkit-backface-visibility: hidden;
                backface-visibility: hidden;
        top: 15px;
        -webkit-transform: rotate(-410deg);
            -ms-transform: rotate(-410deg);
                transform: rotate(-410deg);
        -webkit-transition: 0.45s 0.4s;
        -o-transition: 0.45s 0.4s;
        transition: 0.45s 0.4s; }

footer {
  width: 100%;
  padding: 22px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  z-index: 1; }
  footer p {
    font-size: 15px;
    font-weight: 500;
    color: #c59146;
    text-align: center;
    line-height: 1.8; }

.lightbox {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 50;
  overflow: auto; }
  .lightbox .lb_bg {
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1; }
  .lightbox .lightbox_con {
    width: 980px;
    margin: 0 auto;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    border-radius: 10px;
    background-color: #fff;
    z-index: 10; }

.document {
  width: 100%;
  overflow: hidden; }

.gotop {
  position: fixed;
  right: 5%;
  bottom: 5%;
  z-index: 100; }

table {
  width: 100%; }
  table thead td, table thead th, table tbody td, table tbody th {
    border: solid 2px #e8e8e8; }

.completed {
  text-decoration: line-through; }
/*# sourceMappingURL=styles.css.map */